@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body {
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #f9f9f9;
  position: relative;
  background-image: url(/images/bg-desktop-light.jpg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

body ul, body li {
  list-style: none;
}

body a, body p, body h1, body h2, body label, body li, body span {
  color: #2C2C2C;
  font-family: 'Josefin Sans', sans-serif;
}

body h1 {
  text-transform: uppercase;
  position: absolute;
  top: -100px;
  left: 0;
  color: #f9f9f9;
  letter-spacing: 10px;
}

body input {
  width: 100%;
  color: #2C2C2C;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px 10px 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.deleteButton {
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  color: #2C2C2C;
  background-color: transparent;
  font-size: 20px;
  margin: 10px 0;
  padding: 0 7px 5px;
  margin-right: 10px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.deleteButton:hover {
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  color: #f9f9f9;
  background-color: rgba(211, 34, 34, 0.89);
}

.main-content {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px 50px;
  margin: 150px auto 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative;
  width: 40%;
}

span {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.tasks-container {
  background-color: #f9f9f9;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 60%;
  padding: 10px 0px;
  margin: 30px auto 0;
  border-radius: 5px;
}

#tasks {
  position: relative;
}

#tasks img {
  position: absolute;
  width: 100%;
}

#tasks ul {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

#tasks ul li {
  padding: 0 10px;
  border-bottom: 1px solid #2c2c2c25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#tasks ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  padding: 0 0 0 10px;
}

.task-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.task-options p:nth-child(2) {
  cursor: pointer;
}

.task-options p:nth-child(2):hover {
  color: rgba(211, 34, 34, 0.89);
}
/*# sourceMappingURL=style.css.map */